<div style = "background-image: url('doodles.png')">

  <h1 style = "font-family: Avenir; color: #004C99; text-align: center; margin-top: 20px; margin-bottom: 5px"> Rails Decal Homework 2 </h1>

  <img style = "margin-top: 20px; width: 300px; left: 50%; transform:translateX(-50%);; position: relative" src = "/naomi.JPG">

  <div style = "margin-top: 20px;font-family: Avenir; text-align: center; width: 70%; position: relative; left: 15%">
    <b style = "color: #3399FF"> Name: </b>  Hello, my name is <b>Naomi Jung</b>!
    <br> <b style = "color: #3399FF"> Hometown: </b>  I was born and raised in <b> Los Altos, CA </b>.
    <br> <b style = "color: #3399FF"> Year: </b>  I am a <b>sophomore</b> at UC Berkeley.
    <br> <b style = "color: #3399FF"> Fun Fact: </b> A fun fact about me is that <b>I like to dance</b>.
    <br> <b style = "color: #3399FF"> What I'm excited about: </b> I am excited about <b>building cool projects</b> using rails!
  </div>

</div>
